.plaginator-wrapper {
  padding: 24px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plaginator--item-list {
  display: flex;
  align-items: center;
}
.plaginator--item {
  width: 56px;
  margin: 0 4px;
  padding: 14px 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  border-radius: 8px;

  border: 2px solid $mainBorderColor;
  box-sizing: border-box;
  border-radius: 8px;

  cursor: pointer;
}
.plaginator--item:active,
.plaginator--item__active {
  background-color: $mainBackgroundColor;
  border-color: $mainBackgroundColor;
  color: $lightTextColor;
}

.plaginator--item__no-visible {
  display: none;
}

.arrov-acdive > svg > path {
  stroke: $mainBackgroundColor;
}
.prev,
.next {
  margin: 20px;
  cursor: pointer;
}
