@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$mainFont: "Montserrat", sans-serif;

$mainBackgroundColor: #3a80ba;
$backgroundGragient: linear-gradient(90.95deg, #255d8b 2.29%, #3a80ba 96.79%);
$secondBackgroundColor: #1c3b55;
$mainBorderColor: #f1f1f1;
$lightTextColor: #ffffff;

$darkTextColor: #1a1a1a;
